[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[build]
command = "npx vite build"
publish = "dist"

[build.environment]
VITE_SUPABASE_URL = "https://ndlumgedctvbxmnaykby.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kbHVtZ2VkY3R2YnhtbmF5a2J5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcxODMyMTUsImV4cCI6MjA4Mjc1OTIxNX0.lIVlrgfMMBCCNDoik2MHtnwgi38iPQGaQpI_WZN7KFA"