[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[build]
command = "npx vite build"
publish = "dist"

[build.environment]
VITE_SUPABASE_URL = "https://smcvwjbdrrswbdfidlgz.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtY3Z3amJkcnJzd2JkZmlkbGd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg3NjMyOTAsImV4cCI6MjA4NDMzOTI5MH0.eKBzchnuVPL1U45jACoy3buNUAeBMRrmYsgyQO6DHWE"